img {
  width: 100%;
  max-width: 100%;
  height: auto;
}


div.details {
  p {
    padding: 0;
    margin-bottom: 10px;
    strong {
      margin: 0 0 0 20px;
    }
  }
}

#minPrice {
  border-radius: 0;
}

#maxPrice {
  border-radius: 0;
}
#currency-wrapper {
  padding-bottom: 30px;
  padding-top: 30px;


}
